* {
	margin  : 0px;
	padding : 0px;
}
html, body {
	width:100%;
	height:100%;
}
main {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin:0;
}
nav {
	width: 650px;
	padding-right: 200px;
}

nav>ul {
	position: relative;
	margin-left  : 10px;
}

#print>ul>li, 
nav>ul>li {
	list-style-type: none;
	display: block;
	padding:4px 10px;
	margin-right  : 10px;
	margin-bottom  : 5px;
	overflow: hidden;
	height:18px;
	width:auto;
	line-height:18px;
	font-size: 10px; font-size: 1.0rem;
	        border-radius: 10px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	background-color  : #FFF;
}
nav>ul>li {
	float   : left;
}
nav>ul>li>a {text-decoration: none;}
nav>ul>li.current {
	background-color  : #DDD;
	color: #222;
	pointer-events: none;
}
nav>img {
	position: fixed;
	z-index: 99;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
	user-select: none;
	pointer-events: none;
}

@media screen and (max-width: 1128px) {
	nav>ul {
		margin-left:5px;
		z-index: 99;
	}

	nav>ul>li {
		float: none;
		width:150px;
	}
}

#stalker {
	position: fixed;
	z-index: 9999;
}

.marker {
	background-size: contain;
	display: block;
	width: 100%;
	height: 100%;
}
.marker-disabled .marker {
	display: none !important;
}
.marker.normal {
	background-image: url("images/marker.png");
	width: 24px;
	height: 24px;
}
.marker.station {
	background-image: url("images/mcicon/minecart32.png");
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 10px 0px #fff;
}
.marker.boat {
	background-image: url("images/mcicon/boat32.png");
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 10px 0px #fff;
}
.marker.fall {
	background-image: url("images/mcicon/elytra32.png");
	width: 32px;
	height: 32px;
}
.marker.ladder {
	background-image: url("images/mcicon/ladder32.png");
	width: 24px;
	height: 24px;
	border-radius: 0%;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 10px 0px #fff;
}
.marker.barrier {
	background-image: url("images/mcicon/barrier32.png");
	width: 24px;
	height: 24px;
}
.marker.bubble {
	background-image: url("images/mcicon/bubble32.png");
	width: 32px;
	height: 32px;
}

#print {
	position: absolute;
	top: 3px;
	left:10px;
	z-index: 99;
	display:none;

}
#print a {text-decoration: none;}

@media print{
	#print {display:none !important;}
}
.printMode {
	width: 172mm;
	height: 251mm;
	page-break-after: always;
	margin:auto;
}
a#off:before {
	font-family: "Font Awesome 5 Free";/* アイコンフォント */
	content: "\f410";/*  */
	font-weight:900;/* Solid */
	margin-right:5px;
}
a#run:before {
	font-family: "Font Awesome 5 Free";/* アイコンフォント */
	content: "\f02f";/*  */
	font-weight:900;/* Solid */
	margin-right:5px;
}

div#position {
	padding: 0.5em 1em;
	min-width: 6em;
	text-align: left;
	font-size: 10px; font-size: 1.0rem;
	color: #FFF;
	/*background-color: rgba(0,0,0,0.5);*/
	float: left;
}

div#layerlist > div {
	padding: 0.5em 1em;
	/*min-width: 6em;*/
	font-size: 10px; font-size: 1.0rem;
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
	user-select: none;
}

div#layerlist ul {
	list-style: none;
}
/*-- [ フォーム ] ------------------------------------------------------------*/

select, input, textarea, button {
	vertical-align:2px; vertical-align:0.2rem;
	margin-right:5px;
}

/* チェックボックスリスト */
#Twitterlist {
	border: 1px solid #ddd;
	display: block;
	width: 100%;
	height: 200px;
	overflow-y:scroll;
	font-size: 10px; font-size: 1.0rem;
	background-color: rgba(255,255,255,0.5);
}

#Twitterlist>ul>li {
	display: block;
	width: calc(100% - 1em);
	border-top : 1px dotted #909090;
}
#Twitterlist>ul>li:first-of-type {border-top : none;}

#Twitterlist>ul>li>label>img {
	display: block;
	float: left;
	margin-right:10px;
}

#Twitterlist>ul>li>input[type=checkbox] {
	display: none;
}
#Twitterlist>ul>li>input[type="checkbox"]:checked + label{
	background-color: #3A519D;
	color: #fff;
}
#Twitterlist>ul>li>label {
	display: block;
	width: 100%;
	padding:0.4em 0.5em;
	line-height: 1em;
}


#Twitterbtn {
	width:calc(100% - 0.6em);
	height:calc(45px - 0.6em);
	background-color: rgba(0,0,0,0.5);
	padding: 0.3em;
	/*overflow:auto;*/
}
#Twitterbtn>a {
	/*width:calc(100% - 20px);*/
	padding: 5px 10px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 10px;
	background-color: #55acee;
	text-decoration: none;
	float   : left;
}
#Twitterbtn>a:hover {opacity: 1;}
#Twitterbtn>a>i {margin-right:0.2em;}